@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sofadi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sofadi+One&display=swap");

body {
	background-color: #cdc1ff;
	font-family: "Open Sans", sans-serif;
	padding: 70px;
}

.appContainer {
	background-color: #f5efff;
	border-radius: 20px;
}

.besmele {
	border-radius: 20px;
	font-family: "Aref Ruqaa", serif;
	color: #1e201e;
	font-size: 68px;
	text-align: center;
}
